<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application' %>
    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
  </head>

  <body>
    <noscript>
      <p>We're sorry but this website doesn't work properly without JavaScript enabled. Please enable it to continue.</p>
    </noscript>
    <%= yield %>
  </body>
</html>
